<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Product</key>
	<string>Red Snapper</string>
	<key>Version</key>
	<string>1.3</string>
	<key>Name</key>
	<string>Test User</string>
	<key>Email</key>
	<string>test@tastyapps.com</string>
	<key>Licenses</key>
	<string>1</string>
	<key>TransactionID</key>
	<string>Not Valid</string>
	<key>Signature</key>
	<data>gCIfOQmu0dGAMexWK8LPMLQcH4veq9xonWKkidnp4/eFT9g+a/F4Y23o4zrrCFKrj3RFoRHgbEKA
XrHoCbTeBDMexl+Czx4ajyHUD08RllkFQvNi4LQsCND5Gktov4hos47i8dTEXW1VWTt/WOmEH0Nn
QqYhSs3XShct8Y/7hBc=
</data>
</dict>
</plist>
